/*
 * General Styles
*/
html{
  font-size: 100%;
}

body {
  /*background: url('../images/background.png') no-repeat fixed center;*/
  /* © 2012-2013 Julien Jorge <julien.jorge@stuff-o-matic.com>*/
  font-family: 'Open Sans', arial, sans-serif;
}

{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/*
 * Container Styles
*/

#cursedbackground{
  background: url('../images/background.png') no-repeat fixed center;

}

.container  {
  width: 48rem;
  margin: 0 auto 0 auto;
  padding: 3rem 0 5rem; 0;

}

.forcaption {
    background-color: #000;
    bottom: 1rem;
    color: #fff;
    left: 1rem;
    opacity: 0.7;
    position: absolute;
    width: 10rem;
    padding-left: .3125rem;
    font-size: 1.5rem;
}

.fadedbackground{
  background: rgba(255,255,255,.40);
  border-radius: .25rem;
}

.border{
  border: gray solid .3125rem;
}

#banner {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  z-index: -1;
  background: purple;
}

#footer{
  position: fixed;
  height: 10%;
  bottom: 0;
  width: 100%;
  background-color: black;


}

.paddingleft {
    padding: 0 0 0 0;
    
}

h1{
  color: white;
  font-size: 3rem;
  padding: .3125rem 0 0 3rem;

}

h2{
   margin: 5rem 0 0 0;
   padding: .3125rem;
   font-size: 1.5rem;
}

h3{
  font-size: 1rem;
  padding: .3125rem;

}

