.paddingleft {
    padding: 0 0 0 0;
    
}

.containermain{

  width: 48rem;
  margin: 0 auto 0 auto;
  padding: 7rem 0 0 0;

}

.smallbanner{
  color: white;
  
  padding: 0 0 0 3rem;

}

h5{
	font-size: 1.5rem;

}