/*
 * General Styles

  #65B1D3
  #1CAAEA
  #16739D
  #2D586C
  #052E41

*/
html{
  font-size: 100%;
  height: 100%;
}

body {
  /*background: url('../images/background.png') no-repeat fixed center;*/
  /* © 2012-2013 Julien Jorge <julien.jorge@stuff-o-matic.com>*/
  font-family: 'Open Sans', arial, sans-serif;
  overflow-x: hidden; 
  padding: 0;
  margin: 0;
}

{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/*
 * Container Styles
*/

#mainbackground{
  /*background: url('../images/cape.jpg') ;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;*/
  background-color: #fffff4;
}

#cursedbackground{
  background: url('../images/background.png') no-repeat fixed center;

}

#gamedevbackground{
  background: url('../images/colored_grass.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

#spacebackground{
  background: url('../images/galaxy.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.container  {
  width: 48rem;
  margin: 0 auto 0 auto;
  padding: 3rem 0 5rem; 0;

}

.containermain  {
  width: 48rem;
  margin: 5rem auto 0 auto;
  padding: 1rem 0 5rem 0;

}

.forcaption {
    background-color: #000;
    bottom: 1rem;
    color: #fff;
    left: 1rem;
    opacity: 0.7;
    position: absolute;
    width: 12rem;
    padding-left: .3125rem;
    font-size: 1.5rem;
}

.fadedbackground{
  background: rgba(255,255,255,.40);
  border-radius: .25rem;
}

.fadedbackgroundblack{
  background: rgba(0,0,0,.60);
  border-radius: .25rem;
  width: 75%;

}

.border{
  border: gray solid .3125rem;
}

.border2{
  border: black solid .175rem;
  box-shadow: 3px 3px 10px ;
  margin-bottom: 1rem;
}

.round{
  border-radius: 50%;

}

.centerimg{
    margin: 0 auto;
    text-align: center;

}

#banner {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  background: #052E41;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

#mainbanner {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
 
  background: #052E41;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

#footerbanner {
  position: absolute;
  bottom: : 2rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  z-index: -1;
  background: #205ec1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

#darkpurple{
  background: purple;

  width: 100%;


}



#footer{
  position: fixed;
  height: 10%;
  bottom: 0;
  width: 100%;
  background-color: black;



}

.paddingleft {
    padding: 0 0 0 0;
    white-space: normal;
    overflow-wrap: break-word;
    
}

.main{
  top: 17rem;


}

.gamesettings{
  width: 60rem;
  height: 40rem;
  border: gray solid .312rem;
  margin: auto 0 auto -4rem;
  padding: 0 0 0 0;

}

.gamesettings2{
  width: 50rem;
  height: 40rem;
  border: gray solid .312rem;

}

#footergap{
  margin-bottom: 1rem;


}



hr{
  
  border-top: 1px solid black;

}

h1{
  color: white;
  font-size: 3rem;
  padding: .3125rem 0 0 3rem;

}

h2{
   margin: 0 0 0 0;
   padding: .3125rem;
   font-size: 2rem;

}

h3{
  font-size: 1rem;
  padding: .3125rem;

}

h4{
  font-size: 1rem;
  margin-top: 0;


}

h5{
  color: white;
  font-size: 2.5rem;
 
  
}

h6 {

  color: white;
  font-size: 2.5rem;
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h6 span { 
    background:#fffff4; 
    padding:0 10px; 
}

p{
  line-height: 1.25;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif


}

