.paddingleft {
    padding: 2rem 0 0 5rem;
    
}

.containermain{

  width: 48rem;
  margin: 16rem auto 0 auto;
  padding: 3rem 0 5rem 0;

}

.smallbanner{
  color: white;
  
  padding: 0 0 0 3rem;

}