/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/
body{
	overflow-x: hidden; 

}

html{
	font-size: 100%
	
}


.container{
	width: 100%
}

.header{
	padding: 1rem;

}

.slider{

	margin-bottom: 5rem;

}

.main{

	padding: 2rem;
	text-align: center;

}

.submain{
	padding: 2rem;
	text-align: center;

}

.footer{
	padding-bottom: 1rem;

}

#bottomspace{
	margin-bottom: 5rem;
}

#gray{
	color: gray;
}

#purple{
	color: purple;
}

.border{
	border: #E8E8E8 solid 4px;

}

.collapse{
	display: none;

}

h2{
	font-size: 1.5rem;
	color: gray;

}

h3{
	text-align: center;



}

h4{
	padding-top: 1rem;
	font-size: 1rem;
	color: gray;
}

p{

	font-size: 1.25rem;
}


