.container {
  width:100%;
  margin: 0;
  padding: 0;
  background: #FFF;
  border-radius: 0;

}

.hero{
  border-radius: 0;


}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin-left:  -60px;
}

.tooltip:focus .tooltiptext {
    visibility: visible;
}

.topimage{
  border-radius: 0;

}

aside.right{
  text-align: center;
  float: inherit;
}

aside.left{
  text-align: center;
  float: inherit;
}

h4{
  padding: 0px 40px 15px 30px;
  height: 24rem;

}
