.container {
  width:100%;
  margin: 0;
  padding: 0;
  background: #FFF;
  border-radius: 0;
}

.topimage{
  border-radius: 0;
}

aside.right{
  text-align: center;
  float: inherit;
}

aside.left{
  text-align: center;
  float: inherit;
}

h4{
  padding: 0 2.5rem 1rem 1.875rem;
  height: 28rem;
}
